@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir-Roman.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir-Heavy.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir-Black.otf');
  font-weight: bold;
}