header {
  ul {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    z-index: 999;
    align-items: center;
  }

  li {
    margin: 0 20px;
  }

  a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    &:hover{
      color: #F3AE46;
    }
  }
}

.temp {
  position: absolute;
  height: 80px;
  right: 5%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  justify-content: center;
  align-items: flex-end;
  p{
    text-transform: uppercase;
    span{
      color: #F3AE46
    }
  }
  &>span{
    font-size: 25px;
  }
}