header
  ul
    li
      a(href="/#why") Pourquoi
    li
      a(href="/#city") Cités
    li
      a(href="/") 
        img(src="/assets/images/logo.png", alt="")
    li
      a(href="/#home") Chez-vous
    li
      a(href="marsha.html") Marsha
  .temp
    p 
      span Température 
      | dans le dome
    span 21°C