header
  ul
    li
      a(href="") Pourquoi
    li
      a(href="") Confort
    li
      a(href="") Logo
    li
      a(href="") Chez-vous
    li
      a(href="marsha.html") Marsha
  .temp
    p 
      span Témparature 
      | dans le dome
    span 21°C