<!DOCTYPE html>
html(lang="fr")
  head
    include partials/head.pug
    title Reborn
  body
    include partials/header.pug
    main
      section.hero
        h2.hero__title.hero__title--small Bienvenue dans
        h1.hero__title.hero__title--large Votre nouvel vie
      section.section
        h2.section__title.section__title--small Mars
        h1.section__title.section__title--large Pourquoi ?
        .section__comparate
          +comparate('mars.png', 'mars-plan.jpg','1 768 654','0%','Excellente','3.7 N/kg-1','Excellente','0%')
          +comparate('earth.png', 'earth-plan.jpg','12 000 000 000','10.7%','Mauvaise','9.8 N/kg-1','Mauvaise','4%')
        p Pour jeter les fondations d’une nouvelle civilisation qui, du fait de l’éloignement de la Terre, saura rapidement s’affranchir des pesanteurs terrestres (au sens propre et figuré) et des vieilles idéologies pour mieux construire un monde neuf, un nouveau front pionnier que pourront rejoindre les plus audacieux
      section.section
        +article('Votre','Ville','Toutes les premières nécessités se trouvent sur mars. Vous pouvez dormir sur vos deux oreilles : eau-potable, oxygène, électricité, nourriture, internet tout y est. Les cycles journaliers sont presque identiques à celui de la terre, une journée dure 24 h 40.')
        +article('Restez','En contact','Même à plusieurs kilomètres, il vous sera toujours possible de communiquer avec vos proches. Une communication satellitaire entre la terre et mars pourra être faite en quelques minutes seulement.')
        +article('Faites le métier', 'Qui vous correspond', 'Sur mars nous avons besoin de tous les corps de métier : chirurgien, plombier, ingénieur. Vos diplômes et métiers sont reconnus avant même votre arrivée sur mars. mars est une planète qui ne connaît pas le chômage.')
      section.section
        h2.section__title.section__title--small Mars
        h1.section__title.section__title--large Chez vous
        .section__home
          img(src="assets/images/home.jpg", alt="")
          .home_text
            p Sur Mars comme sur Terre, disposez des même biens et possèdez un meilleur confort que chez vous en bénéficiant des nouvelles technologies.
            a(href="marsha.html") Visitez votre maison
    include partials/footer.pug