.hero {
  position: relative;
  height: 100vh;
  background: url('/assets/images/hero.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    position: absolute;
    content: '';
    height: 50vh;
    width: 100vw;
  }

  &::before {
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, .7), transparent);
  }

  &::after {
    bottom: -2px;
    background: linear-gradient(180deg, #000, transparent);
    transform: rotate(180deg)
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;

    &--small {
      font-size: 35px;
    }

    &--large {
      font-size: 75px;
    }
  }
}

.section {
  padding: 50px 0 100px 0;

  &__title {
    text-align: center;
    text-transform: uppercase;

    &--small {
      color: #f3ae46;
      font-size: 30px;
    }

    &--large {
      font-size: 55px;
      font-weight: bold;
    }
  }

  .comparate__title {
    margin: 100px 0 0 0;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f3ae46;
  }

  &>p {
    width: 45%;
    margin: 20px auto 0 auto;
    text-align: center;
    line-height: 1.8;
  }
}

.section__comparate {
  display: flex;
  justify-content: space-evenly;

  .comparate {
    margin: 150px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;

    &:nth-child(1) .planet {
      animation: move-mars 6s infinite ease;

      @keyframes move-mars {

        0%,
        100% {
          transform: translate(-50%, -55%);
        }

        50% {
          transform: translate(-50%, -45%);
        }
      }

    }

    &:nth-child(2) .planet {
      animation: move-earth 6s infinite ease;

      @keyframes move-earth {

        0%,
        100% {
          transform: translate(-50%, -45%);
        }

        50% {
          transform: translate(-50%, -55%);
        }
      }

    }

    img:nth-child(1) {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 0;
      left: 50%;
    }

    &__text {
      display: flex;
      border-bottom: 1px solid #f3ae46;
      justify-content: space-between;
      padding: 10px;

      p {
        font-weight: bold;
      }
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0;

  &:nth-child(1) .section__article {
    background: url('/assets/images/article1.jpg') center no-repeat;
    background-size: cover;
  }

  &:nth-child(2) .section__article {
    background: url('/assets/images/article2.jpg') center no-repeat;
    background-size: cover;

  }

  &:nth-child(3) .section__article {
    background: url('/assets/images/article3.jpg') center no-repeat;
    background-size: cover;

  }

  &>h1 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f3ae46;
    margin: 50px 0 0 0;
  }

  p {
    width: 45%;
    text-align: center;
    margin: 20px auto 40px auto;
    line-height: 1.8;
  }



  &>span {
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #f3ae46;
  }
}

.article:not(:last-child)>span {
  display: none;
}

.section__article {
  position: relative;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    position: absolute;
    content: '';
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg, #000, transparent);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: -2px;
    transform: rotate(-180deg);
  }

  .article__title {
    text-transform: uppercase;
    z-index: 999;

    &--small {
      font-size: 30px;
    }

    &--large {
      font-size: 60px;
      font-weight: bold;
    }
  }
}

.section__home {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .home_text {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    text-align: center;
    line-height: 1.8;
  }

  a {
    margin: 50px 0 0 0;
  }
}